<h1>管理者のタスク一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= link_to "タスク新規作成", class: "btn btn-lg btn-primary pull-right" %>
    <table class="table table-hover" id="table-tasks">
      
    </table>
  </div>
</div>